:root {
    --color1: #3CAC3B;
    --color2: #2A398D;
    --color3: #E61D25;
    --color4: #D1D4D1;
    --color5: #474A4A;
    --fuente: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color4);
    font-family: var(--fuente);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: var(--color4);
}

.container .icono {
    background-color: var(--color2);
    padding: 12%;
    border-radius: 20%;
}

.icono i {
    width: 100%;
    height: auto;
    color: var(--color4);
}

.info {
    color: var(--color5);
    text-align: center;
    margin: 5%;
}

.info button {
    background-color: var(--color2);
    color: var(--color4);
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

